<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Top 5 cat breeds that are child-friendly, stranger-friendly and dog-friendly</h1>
    <div>
        <div><h3><%= catList[0][0]%></h3><img src=<%= catList[0][2] %> width="150" height="180"></div>
        <div><h3><%= catList[1][0]%></h3><img src=<%= catList[1][2] %> width="150" height="180"></div>
        <div><h3><%= catList[2][0]%></h3><img src=<%= catList[2][2] %> width="150" height="180"></div>
        <div><h3><%= catList[3][0]%></h3><img src=<%= catList[3][2] %> width="150" height="180"></div>
        <div><h3><%= catList[4][0]%></h3><img src=<%= catList[4][2] %> width="150" height="180"></div>
    </div> 
</body>
</html>